<div class="top-nav">
	<button class="nav-button" onclick="location.href='/about'" type="button">About</button>
	<button class="nav-button" onclick="location.href='/home'" type="button">Home</button>
	<button class="nav-button" onclick="location.href='/main'" type="button">Main</button>
	<button class="nav-button" onclick="location.href='/login'" type="button">Zaloguj</button>
	<button class="nav-button" onclick="location.href='/reservations'" type="button">Zarezerwuj stolik</button>
</div>