@page "/about"

<PageTitle>O nas</PageTitle>

<h1>O nas</h1>

<p>
	W sercu miasta, gdzie klasyka spotyka nowoczesność, powstała La Notte – współczesna interpretacja włoskiej tradycji kulinarnej.
	W ciemnych, nastrojowych wnętrzach z panoramicznym zdjęciem włoskiej uliczki na ścianie, serwujemy dania oparte na oryginalnych recepturach i świeżych składnikach.
	Od ręcznie wyrabianych makaronów, przez pizzę na cienkim cieście z pieca opalanego drewnem, po nowoczesne wersje klasyków jak tiramisu z musem espresso – La Notte to kulinarna podróż przez smaki Italii z nutą współczesnej elegancji.
</p>