@page "/forgotpassword"
@layout eatery_manager_server.Shared.LoginLayout

<h3>Resetowanie hasła</h3>

<EditForm Model="@forgotPasswordModel" OnValidSubmit="SendResetLink">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>Podaj Email:</label><br />
        <InputText @bind-Value="forgotPasswordModel.Email" type="email" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary mt-2">Wyślij reset link</button>
    <a href="/Login">Powrót</a>

    @if (!string.IsNullOrEmpty(successMessage))
    {
        <p style="color: green; margin-top: 10px">@successMessage</p>
    }
</EditForm>

@code {
    private ForgotPasswordModel forgotPasswordModel = new();
    private string successMessage = "";

    private void SendResetLink()
    {
        // Tu udajemy wysyłanie linka
        successMessage = $"Jeśli email {forgotPasswordModel.Email} istnieje w naszej bazie, wysłaliśmy link do resetu hasła.";
    }

    private class ForgotPasswordModel
    {
        public string Email { get; set; } = "";
    }
}
