@inherits LayoutComponentBase
@namespace eatery_manager_server.Shared

<div class="page">
    <NavMenu />
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>

