
body {
    background-color: #cccccc;
    color: white;
    margin: 0;
}

.top-nav {
    background-color: #111; /* Kolor t³a */
    color: white; /* Kolor tekstu */
    padding: 10px 20px; /* Odstêpy */
    width: 100%; /* Rozci¹gniêcie na ca³¹ szerokoœæ */
    position: fixed; /* Ustawienie na górze ekranu */
    top: 0; /* Przyleganie do górnej krawêdzi */
    z-index: 1000; /* Widocznoœæ nad innymi elementami */
    display: flex; /* Ustawienie elementów w linii */
    justify-content: flex-end; /* Przyciski z prawej strony */
    align-items: center; /* Wyrównanie w pionie */
}

.nav-button {
    text-decoration: none; /* Usuñ podkreœlenie */
    color: white; /* Kolor linków */
    font-weight: bold; /* Wyró¿nienie tekstu */
    font-size: 16px; /* Rozmiar czcionki */
    padding: 10px 15px; /* Odstêpy wokó³ linków */
    border: 2px solid white; /* Bia³e obramowanie */
    background-color: transparent; /* Przezroczysty przycisk */
    border-radius: 5px; /* Zaokr¹glone rogi */
    margin-left: 10px; /* Odstêpy miêdzy przyciskami */
    transition: background-color 0.3s; /* Efekt hover */
}

    .nav-button:hover {
        color: #ff5733; /* Zmiana koloru linków na hover */
        background-color: rgba(255, 255, 255, 0.2); /* Efekt hover na tle */
    }

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pe³na wysokoœæ ekranu */
    background: linear-gradient(to bottom, #4a90e2, #0044cc); /* Gradient t³a */
    color: white; /* Kolor tekstu */
}

    .login-container form {
        background: rgba(255, 255, 255, 0.2); /* Przezroczyste t³o */
        padding: 20px;
        border-radius: 10px;
        backdrop-filter: blur(10px); /* Efekt rozmycia */
    }

.reservations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Pe³na wysokoœæ ekranu */
    background: linear-gradient(to bottom, #444, #ff5733); /* Gradient t³a */
    color: white; /* Kolor tekstu */
}